MAIL_API_URL=
MAIL_API_KEY=
MAIL_FROM_NAME=Broadcast SaaS
MAIL_CONFIG_VERSION=2026-05-13-01

WHATSAPP_API_URL=https://sistemasphp.com.br/whatsapp-baileys-api/api/internal/whatsapp/send-message
WHATSAPP_API_TOKEN=token_aqui
WHATSAPP_PROVIDER=baileys
WHATSAPP_CONFIG_VERSION=2026-05-14-01